<body style="background-image:url(&quot;../assets/Background.png&quot;);background-position:center;background-size:cover;background-repeat:repeat-y;">

  <form class=buttons action=/cusswords/show>

  <input type=radio name=severity value='1'/>   PG 13
  <br>
  <input type=radio name=severity value='2'/>   Mildly Irritated
  <br>
  <input type=radio name=severity value='3'/>   Positively Livid

  <br><br>

  <input id=sub class=button  type='submit' value='Get dude!'/>

</form>

<br>

<div class=response>
  <%@cusses.each do |w|%>
    <%=p w.word.split.map(&:capitalize).join(' ')%>
  <%end%>!!!
</div>
