<form class=buttons action=/cusswords/show>
  <input type=hidden name=severity value="<%=@sess%>"/>
  <input type=radio name=severity value='1'/>   PG 13
  <br>
  <input type=radio name=severity value='2'/>   Mildly Irritated
  <br>
  <input type=radio name=severity value='3'/>   Positively Livid
  <br><br>
  <input id=sub class=button  type='submit' value='Get Rude!'/>
</form>
<br>
<div class=response>
  <%@cusses.each do |w|%>
    <%=w.word.split.map(&:capitalize).join(' ')%>
  <%end%>!!!
</div>
<br><br>
<div class=rank>Rude Ranking: <%=@sess%></div>
